[submodule "plugin/lib/node_modules/js-beautify"]
	path = plugin/lib/node_modules/js-beautify
	url = https://github.com/einars/js-beautify
[submodule "plugin/lib/node_modules/optimist"]
	path = plugin/lib/node_modules/optimist
	url = https://github.com/substack/node-optimist
